{
  "Parameters": {
    "NODE_ENV": "development"
  },
  "AutomataApiFunction": {
    "AWS_SAM_LOCAL": "true",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:3200",
    "AUTOMABASE_TABLE": "automabase-dev",
    "REQUEST_ID_TABLE": "automabase-request-ids-dev",
    "COGNITO_USER_POOL_ID": "local-user-pool",
    "COGNITO_CLIENT_ID": "local-client-id",
    "LOCAL_JWT_PUBLIC_KEY": "",
    "LOCAL_JWT_ISSUER": "local-dev"
  },
  "AutomataWsFunction": {
    "AWS_SAM_LOCAL": "true",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:3200",
    "AUTOMABASE_TABLE": "automabase-dev",
    "REQUEST_ID_TABLE": "automabase-request-ids-dev",
    "LOCAL_JWT_PUBLIC_KEY": "",
    "LOCAL_JWT_ISSUER": "local-dev"
  },
  "TenantApiFunction": {
    "AWS_SAM_LOCAL": "true",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:3200",
    "AUTOMABASE_TABLE": "automabase-dev",
    "REQUEST_ID_TABLE": "automabase-request-ids-dev",
    "LOCAL_JWT_PUBLIC_KEY": "",
    "LOCAL_JWT_ISSUER": "local-dev"
  },
  "TenantAdminApiFunction": {
    "AWS_SAM_LOCAL": "true",
    "DYNAMODB_ENDPOINT": "http://host.docker.internal:3200",
    "AUTOMABASE_TABLE": "automabase-dev",
    "LOCAL_ADMIN_API_KEY": ""
  },
  "E2ETests": {
    "LOCAL_JWT_PRIVATE_KEY": "",
    "LOCAL_JWT_PUBLIC_KEY": "",
    "LOCAL_JWT_ISSUER": "local-dev"
  }
}
