{
  "Parameters": {
    "NODE_ENV": "development"
  },
  "AutomataFunction": {
    "AUTOMATA_TABLE": "automata",
    "TENANT_CONFIG_TABLE": "tenant-config",
    "TENANT_ID_CLAIM": "tenant_id"
  },
  "AutomataAdminFunction": {
    "TENANT_CONFIG_TABLE": "tenant-config"
  },
  "AutomataTrackerFunction": {
    "AUTOMATA_TABLE": "automata",
    "CONNECTIONS_TABLE": "automata-connections",
    "TENANT_CONFIG_TABLE": "tenant-config",
    "TENANT_ID_CLAIM": "tenant_id"
  }
}
